:root {
  --bg-color-light: rgba(255, 51, 0, 1);
  --bg-color-middle: rgba(240, 166, 17, 0); /* ATM no effect on mozilla */
  --bg-color-dark: rgba(221, 51, 0, 1);
  --text-color: #666;
} /* http://www.w3schools.com/colors/colors_names.asp */

body {
	background: /* based on HoneyComb CSS3 Patern by Paul Salentiny http://lea.verou.me/css3patterns/#honeycomb */
        radial-gradient(circle farthest-side at 0% 50%, var(--bg-color-light) 23.5%, var(--bg-color-middle) 0) 21px 30px,
		radial-gradient(circle farthest-side at 0% 50%, var(--bg-color-dark) 24%, var(--bg-color-middle) 0) 19px 30px,
		linear-gradient(var(--bg-color-light) 14%, var(--bg-color-middle) 0, var(--bg-color-middle) 85%, var(--bg-color-light) 0) 0 0,
		linear-gradient(150deg, var(--bg-color-light) 24%, var(--bg-color-dark) 0, var(--bg-color-dark) 26%, var(--bg-color-middle) 0, var(--bg-color-middle) 74%, var(--bg-color-dark) 0, var(--bg-color-dark) 76%, var(--bg-color-light) 0) 0 0,
		linear-gradient(30deg, var(--bg-color-light) 24%, var(--bg-color-dark) 0, var(--bg-color-dark) 26%, var(--bg-color-middle) 0, var(--bg-color-middle) 74%, var(--bg-color-dark) 0, var(--bg-color-dark) 76%, var(--bg-color-light) 0) 0 0,
		linear-gradient(90deg, var(--bg-color-dark) 2%, var(--bg-color-light) 0, var(--bg-color-light) 98%, var(--bg-color-dark) 0%) 0 0 var(--bg-color-light);
	background-size: 40px 60px;
	color: var(--text-color);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: .75em;
	font-weight: 100;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}
body .short {
	color: #000;
	cursor: help;
}

table {
	width: 100%;
}

p {
	line-height: 1.5em;
	margin: 0 0 1.5%;
}

.a-left {
	text-align: left;
}
.a-right {
    text-align: right;
}

header > div, /* header should get position: fixed on scroll */
footer > div {
    width: 100%;
}
header > div {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cccccc+100&1+0,0+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(204,204,204,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00cccccc',GradientType=0 ); /* IE6-9 */
	top: 0;
}
footer > div {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,ffffff+100&0+0,1+100 */
	background: -moz-linear-gradient(top,  rgba(204,204,204,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(204,204,204,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    position: fixed;
}

header .title {
	white-space: nowrap;
}
header .title .logo {
	height: 1.5em;
    vertical-align: bottom;
}
header th {
	padding: 1px 1% 0;
	vertical-align: text-top;
}
footer td {
    padding: 0 1% 5px;
}
footer td.debug {
	cursor: pointer;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 0;
	min-width: 75%;
	transition: .25s;
}
footer td.debug:hover {
    font-size: inherit;	
}

.content {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	float: left;
	margin: 1%;
	padding: 1%;
	transition: .25s;
}
.content:hover {
	box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}
.content.width-50 {
	width: 46%;
}
.content .title {
	border-bottom: solid 1px var(--text-color);
	font-weight: bold;
	width: 100%;
}

.button {
	background-color: whitesmoke;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	cursor: pointer;
	display: inline-block;
	font-size: .825em;
	padding: 3px 5px;
	white-space: nowrap;
}
.button:hover {
	background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .25);
}
.button .icon {
    background-image: url('statics/icons-full-set.png');
    background-size: 176px auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    margin-right: 1px;
    vertical-align: text-top;
    width: 13px;
}
.button.nav {
	position: fixed;
    right: 1%;
    top: 5px;
	width: auto !important;
}
.button.nav .icon {
    background-position: 1px -163px;
}
.button.close {
	text-align: right;
}
.button.close .icon {
    background-position: -148px -35px;
}
.button.print .icon {
	background-position: -82px -35px;
}