@media all and (min-width:1025px) {
	
    .invisible-on-desktop {
        display: none !important;
    }
    .invisible-on-tablet {
        display: block !important;
    }
    
    header th nav .button {
        margin-left: 5px;
    }
}


@media all and (max-width:1024px) {
	
	.invisible-on-tablet {
        display: none;
    }
    
    header th .button.nav {
        display: block;
    }
    header th nav {
        display: none;
        position: fixed;
        right: 1%;
        top: 0;
        width: 50%;
    }
    header th nav .button {
        margin-top: 4px;
        padding: 13px 15px;
        text-align: left;
        width: 96%;
    }
    header th nav .button:first-child {
        margin-top: 5px;
    }

    .content {
	    width: 96% !important;
	}
	
	.content:not(.log,.personal-data) .body {
	    display: none;
	}
	
	.content.icon .icon {
	    margin-right: 2%;
	    width: 3%;
	}
	
	span.button:not(.mobile) {
	    height: 21px;
	    padding-right: 2px;
	    padding-top: 2px;
	    width: 26px;
	}
}


@media all and (max-width:667px) {
	
	.content.icon .icon {
	    margin-right: 1.75% !important;
        width: 5.25% !important;
	}
	.content.icon .header {
	    width: 93% !important;
	}
	
	.content .body table th,
	.content .body table td,
	.content .body table tfoot td {
	    font-size: .5em;
	    white-space: normal;
	}
}


@media all and (max-width:480px) {
	
	.invisible-on-mobile {
	    display: none;
	}
	
	header th nav .button {
	    padding: 15px 5px;
        width: 92%;
    }
    
    .content {
        margin: 5% 1%;
        padding: 3%;
        width: 92% !important;
    }
    
    .content.icon .icon {
        margin-right: 1.5% !important;
        width: 7.5% !important;
    }
    .content.icon .header {
        width: 91% !important;
    }
}